<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
    <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-P558VP12X4"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());
        
          gtag('config', 'G-P558VP12X4');
        </script>
</head>
<body>
    <div class="container">
        <aside class="sidebar">
            <div class="sidebar-header">
                <h2>{{ site.title }}</h2>
            </div>
            <nav>
                <ul class="sidebar-nav">
                    <li><a href="{{ '/' | relative_url }}">Home</a></li>
                    <li><a href="{{ '/resources' | relative_url }}">Resources</a></li>
                    <li><a href="{{ '/contact' | relative_url }}">Contact</a></li>
                </ul>
            </nav>
            <nav>
            <a href="https://youtu.be/chtCykQpBmc" class="portal-button" target="_blank">Demo</a>
            <div class="sidebar-footer">
                <p>&copy; {{ site.time | date: '%Y' }} {{ site.footer_company_name }}</p>
            </div>
        </aside>

        <main class="main-content">
            <div class="content-wrapper">
                {{ content }}
            </div>
        </main>
    </div>
</body>
</html>
